@model MarcaTexto.Texto

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Cadastre um Novo Texto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto1" class="control-label"></label>
                <input asp-for="Texto1" class="form-control" />
                <span asp-validation-for="Texto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto2" class="control-label"></label>
                <input asp-for="Texto2" class="form-control" />
                <span asp-validation-for="Texto2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Textos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
