@model MarcaTexto.Texto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Deseja realmente excluir esse item?</h3>
<div>
     
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
